<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML Design Practice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">テスト</h1>
                <p class="subtitle">this is test</p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="content">
                    <div id="app">
                        {{ message }}
                        <ul>
                            <li v-for="todo in todos">
                                {{ todo.text }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
